*{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
}

.forecast-container{
    width:100%;
    height:100vh;
    background:linear-gradient(rgba(31, 7, 7, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/bg.png) center no-repeat;
    background-position:left bottom;  
    background:cover;
    display:flex;
    align-items: center;
    justify-content:center;
    
}

.current-forecast{
    width:20%;
    background-color: transparent;
}

.card{
    padding:3% 1%;
    color:white;
}

.bg-transparent{
    background: linear-gradient(rgba(87, 46, 46, 0.7), rgba(77, 66, 66, 0.7))
}

.time{
    position:absolute;
    top:3%;
    left:5%;
    color:white;
}


.icon img{
    width:15%;
    height:auto;
}

.temp{

    font-size:3rem;
}

.temp-stats{
    float:right;
}

@media (max-width:1528px){
    .current-forecast{
        width:100%;
        height:100vh;
        background:linear-gradient(rgba(31, 7, 7, 0.7), rgba(0, 0, 0, 0.7)),
        url(images/bg.png) center no-repeat;
        background-position:left bottom;  
        background:cover;
        display:flex;
        align-items: center;
        justify-content:center;
        text-align:center;
        
    }

    .icon img{
        width:5rem;
        text-align:center;
    }
}

